@model Model.Models.Login
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <section class="col-xs-12" style="background-color: rgba(231, 76, 60, 0.8); padding: 10px;color:antiquewhite">
            <article class="col-xs-12 col-md-4 col-md-offset-4">
                <h2 class="text-center">Login</h2>
                <fieldset>
                    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-xs-12">
                            <p class="text-danger booking-error">@ViewBag.error</p>
                        </div>
                    </div>
                    

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.LabelFor(a => a.UserName)
                            </div>
                            <div class="col-xs-12">
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-xs-12">
                                @Html.TextBoxFor(a => a.UserName, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.LabelFor(a => a.Password)
                            </div>
                            <div class="col-xs-12">
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-xs-12">
                                @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-success col-xs-12" value="Login" />
                    </div>

            }
                </fieldset>
            </article>
        </section>
    </div>
</div>

