@using System.Configuration
@using System.Web.Configuration
@using Model.Models
@using Web.Security
@using Web.SingleTon
@model Model.ViewModels.OrderViewModel
@{
    ViewBag.Title = "Preview";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var customer = (Customer)ViewBag.Customer;
    var token = SessionPersister.DepositToken;
    var returnUrl = $"{WebConfigurationManager.AppSettings["ReturnUrl"]}/?token={token}";
}

 <div class="container">
     <div class="wrapper" style="background-color:rgba(211, 84, 0,0.8); color:white">
         <div class="row" style="text-align: center">
             <div class="col-lg-12">
                 <h2>Booking Infomation</h2>
             </div>
         </div>
         <div class="row">
            <div class="col-lg-6">
                 <h5 style="margin-left: 2%">Customer infomation</h5>
                 <div class="col-lg-3"><h6>Full Name</h6></div>
                 <div class="col-lg-9">
                     <div id="inputs">                            
                        <div class="form-group">
                            <input type="text" style="width:343px;" value="@customer.FullName" placeholder="Regular" class="form-control" readonly />
                        </div>                                                  
                     </div>
                 </div>
                 <div class="col-lg-3"><h6>Phone</h6></div>
                 <div class="col-lg-9">
                     <div id="inputs">
                         <div class="form-group">
                             <input type="text" style="width:343px;" value="@customer.Phone" placeholder="Regular" class="form-control" readonly />
                         </div>
                     </div>
                 </div>

                 <h5 style="margin-left: 2%">Booking infomation</h5>
                 <div class="col-lg-3"><h6>Branch</h6></div>
                 <div class="col-lg-9">
                     <div id="inputs">
                         <div class="form-group">
                             <input type="text" style="width:343px;" value="@BranchSingleTon.GetAddress(Model.Order.IdBranch)" placeholder="Regular" class="form-control" readonly />
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-3"><h6>From</h6></div>
                 <div class="col-lg-9">
                     <div id="inputs">
                         <div class="form-group">
                             <input type="text" style="width:343px;" value="@Model.Order.BeginTime" placeholder="Regular" class="form-control" readonly />
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-3"><h6>To</h6></div>
                 <div class="col-lg-9">
                     <div id="inputs">
                         <div class="form-group">
                             <input type="text" style="width:343px;" value="@Model.Order.EndTime" placeholder="Regular" class="form-control" readonly />
                         </div>
                     </div>
                 </div>
             </div>
            <div class="col-lg-6">
                <h5>Tables selection</h5>
                
                <div class="col-lg-12" style="float:right">
                    <form method="post" action="@ConfigurationManager.AppSettings["PayPalSubmitUrl"]">
                        <table class="table table-bordered">
                            <tr class="text-center">
                                <th>
                                    Photo
                                </th>
                                <th>
                                    Table
                                </th>
                                <th>
                                    Table Capacity
                                </th>
                                <th>
                                    Deposit
                                </th>
                                <th>
                                    Quantity
                                </th>

                            </tr>
                            @{
                                var index = 1;
                            }
                            @foreach (var item in Model.ListIdTable)
                            {
                                var itemName = $"Table_Number_{TableSingleTon.GetTableNumber(item)} ({TableSingleTon.GetTableCapacity(item)}  persons)";

                            <tr>
                                <td>
                                    <img src="~/Content/assets/image/table2.jpg" width="120" height="60" />
                                    <input type="hidden" name="item_number_@index" value="@item" />
                                    <input type="hidden" name="item_name_@index" value="@itemName" />
                                    <input type="hidden" name="amount_@index" value="@TableSingleTon.GetTableDepositFee(item).ToString("0.##")" />
                                    <input type="hidden" name="quantity_@index" value="1" />
                                </td>
                                <td>
                                    Table Number @TableSingleTon.GetTableNumber(item)
                                </td>
                                <td>
                                    @TableSingleTon.GetTableCapacity(item)
                                </td>
                                <td>
                                    $@TableSingleTon.GetTableDepositFee(item)
                                </td>
                                <td>
                                    1
                                </td>

                            </tr>
                                index++;
                            }
                            <tr class="text-center">
                                <td colspan="4" style="font-weight: bold">Total</td>
                                <td>$@(Model?.Order?.Deposit)</td>
                            </tr>
                        </table>

                        <!-- Thong tin thanh toan -->
                        <input type="hidden" name="upload" value="1" />
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="business" value="@WebConfigurationManager.AppSettings["PayPalUserName"]" />
                        <input type="hidden" name="return" value="@returnUrl" />

                        <div style="float: right;">
                            <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" onclick="form.submit()" style="cursor: pointer;"/>
                        </div>
                    </form>
                </div>
              
            </div>
         </div>
        
     </div>   
 </div>
    