@using System.Configuration
@using System.Web.Configuration
@using Model.Models
@using Web.Security
@using Web.SingleTon
@model Model.ViewModels.OrderViewModel
@{
    ViewBag.Title = "Preview";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var customer = (Customer)ViewBag.Customer;
    var token = SessionPersister.DepositToken;
    var returnUrl = $"{WebConfigurationManager.AppSettings["ReturnUrl"]}/?token={token}";
}


<div class="w3-card-4" style="width: 100%; background-color: rgba(231, 76, 60, 0.8)">
    <h2 style="color: antiquewhite; padding-top: 15px;" class="text-center">Preview</h2>

    <div style="color: white">
        @if (Model?.Order != null)
        {
            <div class="w3-row-padding w3-padding-16 w3-center">
                <div class="w3-half text-left" style="padding-left: 150px">
                    <p>
                        Customer: @customer.FullName
                    </p>
                    <p>
                        Phone: @customer.Phone
                    </p>
                    <p>
                        Branch: @BranchSingleTon.GetAddress(Model.Order.IdBranch)
                    </p>
                    <p>
                        From: @Model.Order.BeginTime
                    </p>
                    <p>
                        To: @Model.Order.EndTime
                    </p>

                </div>
                <div class="w3-half text-center">
                    <h3>Notes</h3>
                    <p>
                        @Model.Order.Description
                    </p>
                </div>
            </div>
            <div class="w3-row-padding w3-padding-16 w3-center">
                <div class="">
                    @*@using (Html.BeginForm("Finish", "Booking", FormMethod.Post))
                        {
                            @Html.HiddenFor(m => m.Order.IdBranch)
                            @Html.HiddenFor(m => m.Order.IdCustomer)
                            @Html.HiddenFor(m => m.Order.BeginTime)
                            @Html.HiddenFor(m => m.Order.EndTime)

                            <input type="submit" class="btn btn-success btn-round" value="It's ok, book now" />
                        }*@
                    <form method="post" action="@ConfigurationManager.AppSettings["PayPalSubmitUrl"]">
                        <table class="table table-bordered">
                            <tr class="text-center">
                                <th>
                                    Photo
                                </th>
                                <th>
                                    Table
                                </th>
                                <th>
                                    Table Capacity
                                </th>
                                <th>
                                    Deposit
                                </th>
                                <th>
                                    Quantity
                                </th>

                            </tr>
                            @{
                                var index = 1;
                            }
                            @foreach (var item in Model.ListIdTable)
                            {
                                var itemName = $"Table_Number_{TableSingleTon.GetTableNumber(item)} ({TableSingleTon.GetTableCapacity(item)}  persons)";

                            <tr>
                                <td>
                                    <img src="~/Content/assets/image/table2.jpg" width="120" height="60" />
                                    <input type="hidden" name="item_number_@index" value="@item" />
                                    <input type="hidden" name="item_name_@index" value="@itemName" />
                                    <input type="hidden" name="amount_@index" value="@TableSingleTon.GetTableDepositFee(item).ToString("0.##")" />
                                    <input type="hidden" name="quantity_@index" value="1" />
                                </td>
                                <td>
                                    Table Number @TableSingleTon.GetTableNumber(item)
                                </td>
                                <td>
                                    @TableSingleTon.GetTableCapacity(item)
                                </td>
                                <td>
                                    $@TableSingleTon.GetTableDepositFee(item)
                                </td>
                                <td>
                                    1
                                </td>

                            </tr>
                                index++;
                            }
                            <tr class="text-center">
                                <td colspan="4" style="font-weight: bold">Total</td>
                                <td>$@(Model?.Order?.Deposit)</td>
                            </tr>
                        </table>

                        <!-- Thong tin thanh toan -->
                        <input type="hidden" name="upload" value="1" />
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="business" value="@WebConfigurationManager.AppSettings["PayPalUserName"]" />
                        <input type="hidden" name="return" value="@returnUrl" />

                        <div style="float: right;">
                            <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" onclick="form.submit()" style="cursor: pointer;"/>
                        </div>
                    </form>
                </div>
            </div>



        }

    </div>
</div>

