@using Helpers_Constants.Constants
@using Model.Enum
@using Web.Security
@using Web.SingleTon

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}
@if (SessionPersister.MenuLayoutVisibility.Order.Get_New)
{
    <a href="@Url.Action("Status","Booking", new {status = (int)Enums.OrderStatus.New})">
        <div class="btn btn-primary">
            <h4>New Orders</h4>
        </div>
    </a>
}

@if (SessionPersister.MenuLayoutVisibility.Order.Get_Verified)
{
    <a href="@Url.Action("Status","Booking", new {status = (int)Enums.OrderStatus.Verified})">
        <div class="btn btn-success">
            <h4>Verified Orders</h4>
        </div>
    </a>
}

@if (SessionPersister.MenuLayoutVisibility.Order.Get_Completed)
{
    <a href="@Url.Action("Status","Booking", new {status = (int)Enums.OrderStatus.Complete})">
        <div class="btn btn-info">
            <h4>Completed Orders</h4>
        </div>
    </a>
}

@if (SessionPersister.MenuLayoutVisibility.Order.Get_Cancel)
{
    <a href="@Url.Action("Status","Booking", new {status = (int)Enums.OrderStatus.Cancel})">
        <div class="btn btn-danger">
            <h4>Canceled Orders</h4>
        </div>
    </a>
}

@if (SessionPersister.MenuLayoutVisibility.Order.Get_Refunded)
{
    <a href="@Url.Action("Status","Booking", new {status = (int)Enums.OrderStatus.Refunded})">
        <div class="btn btn-default">
            <h4>Refunded Orders</h4>
        </div>
    </a>
}