@using Web.SingleTon
@model Model.ViewModels.BookingDetailsViewModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Booking Details</h4>
                    <p class="category">Order ID: @Model.Order.IdOrder</p>
                </div>
                <div class="card-content">
                    @using (Html.BeginForm("Update", "Booking", FormMethod.Post))
                    {
                        @Html.HiddenFor(m => m.Order.IdOrder)
                        @Html.HiddenFor(m => m.Order.IdCustomer)
                        @Html.HiddenFor(m => m.Order.IdBranch)
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">Branch</label>
                                    @*<input type="text" class="form-control" disabled>*@
                                    @BranchSingleTon.GetAddress(Model.Order.IdBranch)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">Time in</label>
                                    @Html.TextBoxFor(b => b.Order.BeginTime, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">Time out</label>
                                    @Html.TextBoxFor(b => b.Order.EndTime, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Number Of Customer</label>
                                    @Html.TextBoxFor(b => b.Order.NumberOfCustomer, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Number Of Table</label>
                                    @Html.TextBoxFor(b => b.Order.NumberOfTable, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Deposit</label>
                                    @Html.TextBoxFor(b => b.Order.Deposit, new { @class = "form-control", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    <div class="form-group label-floating">
                                        @Html.TextAreaFor(b => b.Order.Description, new { @class = "form-control", @rows = 5 })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary pull-right">
                                    Update
                                </button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="~/Content/admin/img/user.png" />
                    </a>
                </div>
                <div class="content">
                    <h4 class="card-title">@Model.Customer.FullName</h4>
                    <p class="card-content">
                        CMND: @Model.Customer.CMND
                    </p>
                    <p class="card-content">
                        Phone: @Model.Customer.Phone
                    </p>
                    <p class="card-content">
                        Address: @Model.Customer.Address
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



