@using Model.Models
@using Web.Models

@{
    List<RestaurantBranch> list = RestaurantBranchModel.GetAll();
}
<!-- bootstrap-modal-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" style="overflow-y:hidden">
    <div class="modal-dialog" role="document">
        <div class="container">
            <div class="row">
                <div class="card card-signup" data-background-color="orange">
                    <fieldset>
                        @using (Html.BeginForm("Index", "Booking", FormMethod.Post))
                        {
                            <div class="header text-center">
                                <h4 class="title title-up">Infomation</h4>
                            </div>
                            <div class="card-body">
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon">
                                        <i class="now-ui-icons users_circle-08"></i>
                                    </span>
                                    @*<input type="text" class="form-control" placeholder="First Name...">*@
                                    @Html.TextBox("FullName", null, new {@class="form-control", @placeholder = "Full Name" })
                                </div>
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon">
                                        <i class="now-ui-icons text_caps-small"></i>
                                    </span>
                                    @*<input type="text" placeholder="Id number..." class="form-control" />*@
                                    @Html.TextBox("CMND", null, new { @class = "form-control", @placeholder = "CMND" })
                                </div>
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon">
                                        <i class="now-ui-icons ui-1_email-85"></i>
                                    </span>
                                    @*<input type="text" class="form-control" placeholder="Number...">*@
                                    @Html.TextBox("Phone", null, new { @class = "form-control", @placeholder = "Phone number" })
                                </div>
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon">
                                        <i class="now-ui-icons ui-1_email-85"></i>
                                    </span>
                                    @*<input type="text" class="form-control" placeholder="Address...">*@
                                    @Html.TextBox("Address", null, new { @class = "form-control", @placeholder = "Address" })
                                </div>
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon">
                                        <i class="now-ui-icons ui-1_calendar-60"></i>
                                    </span>
                                    @Html.TextBox("OrderDate", System.DateTime.Today, new { @class = "form-control date-picker" })
                                </div>
                                <div>
                                    <p class="text-center">Select Branch</p>
                                    @if (list.Any())
                                    {
                                        foreach (var item in list)
                                        {
                                            var inputId = $"branch{item.IdBranch}";

                                            <div class="radio">

                                                @Html.RadioButton("IdBranch", item.IdBranch, new {@class = "", @id = inputId})

                                                <label for="@inputId">
                                                    @item.Address
                                                </label>
                                            </div>

                                        }
                                    }
                                </div>
                                @*<div class="checkbox">
                                    <input id="checkboxSignup" type="checkbox">
                                    <label for="checkboxSignup">
                                        Remember Infomation
                                    </label>
                                </div>*@
                            </div>
                            <div class="footer text-center">
                                <button type="submit" class="btn btn-neutral btn-round btn-lg">
                                    Submit
                                </button>
                            </div>
                        }
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //bootstrap-modal-pop-up --> 
